<footer>
  <br><br><br><br><br>
  <strong><%= current_year %></strong>
  <strong>Author: Mikhail Pevzner </strong>
  <h4>Project <a href="<%= github_url("pevzner47", "Ruby_on_real_Rails") %>">Test-Guru</a></h4>
  <h4>Приложение для создание и прохождения тестов</h4>
  <a href="http://thinknetica.com">Учебный проект в онлайн-школе Thinknetica</a>
</footer>
