<strong>You answered
  <strong class="<%= succes_rate_style %>" >
    <%= succes_rate %>%
  </strong>
 of the questions correctly
</strong>

<div class="<%= succes_rate_style %>">
  <%= result_message %>
</div>
